.scroll-padding {
  &::-webkit-scrollbar-track {
    border: 0;
    border-radius: 0;
  }
  &::-webkit-scrollbar {
    width: 15px;
    
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 5px solid transparent;
    background-clip: padding-box !important; 
  }
}
.scroll-padding25 {
  &::-webkit-scrollbar-track {
    border: 0;
    border-radius: 0;
  }
  &::-webkit-scrollbar {
    width: 25px;
    
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border: 10px solid transparent;
    background-clip: padding-box !important; 
  }
}

.alignBetween {
  justify-content: space-between;
}

.ellipsis1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  display: block;
}