// image url
$imgurl: "@/assets/images/";

body {
  color: var(--black);
}

// responsive
@media (max-width: 1200px) {
  html {
    font-size: 0.95px
  }
}
@media (max-width: 600px) {
  html {
    font-size: 0.9px
  }
}
@media (min-width: 1201px) {
  html {
    font-size: 1px
  }
}

// contents
.contentWidth {
  width: var(--content-width);
}

:root {
  --content-width: 1400rem;
  --lnb-contents-width: calc(100vw - 264rem);
  
  //radius
    --radius: 3rem !important;
  // location
    --location-gap : 15rem !important;
    // --location-font-size: 12rem;
    // --location-light: var(--gray9);
    // --location-light-hover: var(--gray6);
    --location-bold: var(--gray3) !important;

  //select
    --select-width: 100% !important;
}