// image url
$imgurl: "@/assets/images/";

body {
  color: var(--black);
}

// responsive
@media (min-width: 1401px) {
  html {
    font-size: 1px !important
  }
}
@media (max-width: 1400px) {
  html {
    font-size: 1px !important
  }
}
@media (max-width: 800px) {
  html {
    font-size: 1px !important
  }
}
@media (max-width: 600px) {
  html {
    font-size: 0.95px !important
  }
}
@media (max-width: 500px) {
  html {
    font-size: 0.9px !important
  }
}
@media (max-width: 400px) {
  html {
    font-size: 0.85px !important
  }
}
@media (max-width: 350px) {
  html {
    font-size: 0.8px !important
  }
}
@media (max-width: 300px) {
  html {
    font-size: 0.75px !important
  }
}


// contents
.contentWidth {
  width: var(--content-width);
}

.infoWidth {
  width: var(--info-width);
}
.lnbContentWidth{
  width: var(--lnb-contents-width);
}
:root {
  @media (min-width: 1401px) {
    --content-width: 1400rem;
  }
  @media (max-width: 1400px) {
    --content-width: 800rem;
  }
  @media (max-width: 800px) {
    --content-width: calc(100vw - 60px);
  }
  --info-width: 1200rem;
  --lnb-contents-width: calc(100vw - 264rem);
  
  //radius
    --radius: 3rem !important;
  // location
    --location-gap : 15rem !important;
    // --location-font-size: 12rem;
    // --location-light: var(--gray9);
    // --location-light-hover: var(--gray6);
    --location-bold: var(--gray3) !important;

  //select
    --select-width: 100% !important;

  //tree
    --tree-hover: rgb(var(--set-primary), 0.1) !important;
}